@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.booked-day {
  background-color: #fecaca !important; /* แดงอ่อน */
  color: #991b1b !important;
  pointer-events: none; /* ปิดการคลิก */
  opacity: 0.9;
  position: relative;
}

.booked-day::after {
  content: "Booked";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #991b1b;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.booked-day:hover::after {
  opacity: 1;
}

.selected-day {
  background-color: #bbf7d0 !important;
  color: #065f46 !important;
}
